.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vw;
}


.head {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 92vw;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    color: #fff;
}

.pic {
    max-width: 100%;
    // -webkit-filter: grayscale(100%); 
    // filter: grayscale(100%);
    object-position: center;
}

.pic:hover {    
    opacity: .8;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 9vw;
    width: 95vw; 
    overflow: hidden;
}

.left{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.githubLink {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover {
    opacity: .8;
}