.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


.head {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 3%;
}

.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    color: #fff;
}

.line1,
.line2,
.line3,
.line4,
.line5 {
    padding-bottom: .6vw;
    display: flex;
    justify-content: flex-end;
}


.line6,
.line7,
.line8,
.line9 {
    padding-bottom: .6vw;
    display: flex;
    justify-content: flex-end;

}

.line5,
.line9 {
    padding-bottom: 4vw;
}


.lineLable {
    padding-bottom: 4vw;
    font-size: 1.5vw;

}

.Link {
    color: gray;
    font-style: italic;
}