.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: #fff;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 2vw;
    color: #fff;
    text-align: center;
}

.about:hover{
    cursor: pointer;
    opacity: .4;

}

.projects:hover{
    cursor: pointer;
    opacity: .4;

}

.contact:hover{
    cursor: pointer;
    opacity: .4;

}