.container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: #e9f5ed;
    text-align: center;
}
.p{
    color: #e9f5ed;
}
.nav {
    color: #e9f5ed;
    background-color: transparent;
    border: none;
    font-family: 'Major Mono Display', monospace;    
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 2vw;
    color: #e9f5ed;
    text-align: center;
}

.about:hover{
    cursor: pointer;
    opacity: .4;

}

.projects:hover{
    cursor: pointer;
    opacity: .4;

}

.contact:hover{
    cursor: pointer;
    opacity: .4;

}

// button{
//     color: #e9f5ed;
//     background-color: transparent;
//     border: none;
//     font-family: 'Major Mono Display', monospace;    
//     display: flex;
//     justify-content: center;
//     margin-top: 2%;
//     font-size: 2vw;
//     color: #e9f5ed;
//     text-align: center;
// }