@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
:root{
    background-color: #000;
    font-family: 'Major Mono Display', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
